.hero-section {
background-image:url("https://images.unsplash.com/photo-1529388190922-78d253f7e279?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5));
background-repeat: no-repeat;
background-size:auto;
background-position: center center;
background-attachment: fixed;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-heading{
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    font-family: rage;
    font-size: 60px;
    margin-top: -2em;
}
.items .heading h1 {
  margin-top: 1em;
  background:rgba(0, 0, 0, 0.6) ;
  color: #ffffff;
  font-size: 3rem;
  font-family: 'rage';
  font-weight: 400;
  border: 2px solid white;
  text-align: center;
}